<!-- <app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <app-sidebar></app-sidebar>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
-->

<div class="container body">
  <div class="main_container">
    <app-sidebar></app-sidebar>
    <app-navbar></app-navbar>
    <!-- page content -->
    <div class="right_col" role="main" style="padding-top: 58px !important">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
