<div class="col-md-3 left_col" style="height: 100%;position: fixed;
z-index: 1;
top: 0;
left: 0;">
  <div class="left_col scroll-view">
    <!-- <div class="navbar nav_title" style="border: 0;">
      <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Gentellela Alela!</span></a>
    </div> -->

    <div class="clearfix"></div>

    <!-- menu prile quick info -->
    <div class="profile">
      <div class="profile_pic">
        <img
          src="assets/images/img.jpg"
          alt="..."
          class="img-circle profile_img"
        />
      </div>
      <div class="profile_info">
        <span>Bienvenido,</span>
        <h2>Alejandro Morales</h2>
      </div>
    </div>
    <!-- /menu prile quick info -->

    <br />

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <h3>Administrador</h3>
        <ul class="nav side-menu">
          <li>
            <a
              ><i class="fa fa-home"></i> Home
              <span class="fa fa-chevron-down"></span
            ></a>
            <ul class="nav child_menu" style="display: none">
              <li routerLinkActive="current-page">
                <a routerLink="/dashboard" routerLinkActive="active"
                  >Dashboard</a
                >
              </li>
            </ul>
          </li>
          <li>
            <a
              ><i class="fa fa-edit"></i> Generales
              <span class="fa fa-chevron-down"></span
            ></a>
            <ul class="nav child_menu" style="display: none">
              <li routerLinkActive="current-page">
                <a routerLink="/clientes" routerLinkActive="active">Clientes</a>
              </li>
              <li routerLinkActive="current-page">
                <a routerLink="/productos" routerLinkActive="active"
                  >Productos</a
                >
              </li>
              <li routerLinkActive="current-page">
                <a routerLink="/lineas" routerLinkActive="active">Lineas</a>
              </li>
              <li routerLinkActive="current-page">
                <a routerLink="/formasPagos" routerLinkActive="active"
                  >Formas de Pago</a
                >
              </li>
              <li routerLinkActive="current-page">
                <a routerLink="/impuestos" routerLinkActive="active"
                  >Impuestos</a
                >
              </li>
              <li routerLinkActive="current-page">
                <a routerLink="/zonasImpuestos" routerLinkActive="active"
                  >Zonas Impuestos</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <!-- /sidebar menu -->
  </div>
</div>
